html {
    --s: 50px; /* control the size*/
    --c1: #87bdb1;
    --c2: #d3e2b6;
      
    --c:#0000 75%,var(--c1) 0;
    --g1:conic-gradient(at calc(200%/3) 10%,var(--c));
    --g2:conic-gradient(at 10% calc(200%/3),var(--c));
    background:
      var(--g1), var(--g2),
      var(--g1) var(--s) var(--s),
      var(--g2) var(--s) var(--s),
      var(--g1) calc(2*var(--s)) calc(2*var(--s)),
      var(--g2) calc(2*var(--s)) calc(2*var(--s)) var(--c2);
    background-size: calc(3*var(--s)) calc(3*var(--s));
  }



-----------------------------------------------------------------------------------------

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#form-registrar {
    text-align: center;
}

#p-form {
    font-size: 26px;
    position: relative;
    right: 43px;
}
/*esto lo agregue*/

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: large;

}

.form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

form+p, form p{
    text-align: center;
}

input, button{
    border-radius: 4px;
    border: unset;
    padding: 25px 30px;
    font-size: large;

}

button{
    background-color: #87bdb1;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error{
    color: #dc1313;
}

.escondido{
    display: none;
}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hedden;

}